@charset "UTF-8";
body {
  box-shadow: inset 0 0 0 2000px rgba(149, 150, 155, 0.7);
  background-image: url("giacomo_balla_-_velocity_of_cars_and_light,_1913_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

header {
  background-color: #4b4d65;
  width: 100%;
  padding-top: 1%; }

nav {
  width: auto;
  margin: 0 auto; }

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 0; }

nav ul li {
  color: white;
  font-family: "Futura LT Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  list-style: none;
  display: inline-block;
  padding-right: 1em; }

nav ul li:last-child {
  padding: 0; }

.redline {
  width: 100%;
  height: 10px;
  background-color: #9d1521; }

main {
  width: 900px;
  height: 900px;
  margin: auto;
  background-color: #d3d3d3;
  padding-top: 1px; }

.portfolio-bilder {
  margin: 1em;
  border: 4px dotted black; }

.ikoner {
  width: 100px;
  margin: 0 auto; }

.ikoner p {
  width: 100px;
  padding: 0;
  text-align: center; }

.ikoner-kontakt {
  margin: 1em auto;
  width: 90px; }

.fejs {
  margin: 0 3em 1em 3em;
  width: 20%;
  border-radius: 50%; }

h1 {
  color: white;
  font-family: "Futura LT Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center; }

a {
  color: white;
  text-decoration: none; }

a:hover, a:focus {
  color: grey; }

a:active {
  color: #9d1521; }

h1 a:hover, h1 a:focus {
  color: white; }

p, h3 {
  font-family: monospace, serif; }

p {
  padding: 0 5em 1em 3em;
  margin: auto; }

h3 {
  padding-left: 2.8em; }

footer {
  background-color: #4b4d65;
  width: 100%;
  height: auto; }

footer p {
  color: white;
  font-family: "Futura LT Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  padding-top: 10px; }

.redarrow:after {
  content: ' ';
  position: absolute;
  height: 15px;
  width: 0;
  border: 16px solid transparent;
  border-bottom-color: #9d1521;
  margin: 0 auto; }

/* OBS: ├ändra om i css-strukturen s├Ñ att det ├ñr mobile first & media g├ñller f├Âr st├Ârre */
/* ├även: Anv├ñnd min-width, inte max */
/*=====================*/
/*    MEDIA QUERIES    */
/*=====================*/
@media only screen and (min-width: 570px) and (max-width: 850px) {
  /*896px = 56em // senare: (min-width:570px) and (max-width:720px)*/
  main {
    width: auto;
    height: auto;
    margin: auto;
    padding-bottom: 6em; }

  p {
    padding: 1em 3em 0 3em;
    margin: auto; }

  .fejs {
    margin-left: 3em;
    width: 180px;
    border-radius: 50%; } }
/*=====================*/
@media only screen and (min-width: 1px) and (max-width: 569px) {
  nav {
    position: fixed;
    bottom: 0;
    width: 100%; }

  nav ul li {
    display: block;
    background-color: #4b4d65;
    border: 2px solid #3e4053;
    padding-right: 0; }

  .redarrow:after {
    display: none; }

  main {
    width: auto;
    height: auto;
    margin: auto;
    padding-bottom: 15em; }

  .fejs {
    margin-left: 3em;
    width: 180px;
    border-radius: 50%; }

  p {
    padding: 1em 3em 0 3em;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
