@font-face {
  font-family: 'Poiret One';
  src: url(PoiretOne-Regular.ttf); }
@font-face {
  font-family: 'Open Sans';
  src: url(OpenSans-Regular.ttf); }
.content {
  max-width: 900px; }

body {
  box-shadow: inset 0 0 0 2000px rgba(149, 150, 155, 0.7);
  background-image: url("giacomo_balla_-_velocity_of_cars_and_light,_1913_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

header {
  background-color: #4b4d65;
  width: 100%;
  padding-top: 1%; }

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 0; }

nav ul li {
  color: white;
  font-family: "Poiret One", "Futura LT Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  list-style: none;
  display: inline-block;
  padding-right: 1em; }

nav ul li:last-child {
  padding: 0; }

.red-arrow:before {
  content: ' ';
  position: absolute;
  height: 18px;
  width: 0;
  border: 16px solid transparent;
  border-bottom-color: #9d1521; }

.red-line {
  width: 100%;
  height: 10px;
  background-color: #9d1521; }

main {
  width: 900px;
  height: 1000px;
  margin: 0 auto;
  background-color: #d3d3d3;
  padding-top: 1px; }

.fejs {
  margin: 0 3em 1em 3em;
  width: 20%;
  border-radius: 50%; }

h1 {
  color: white;
  font-family: "Poiret One", "Futura LT Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  font-size: 3rem; }

h1 a:hover, h1 a:focus {
  color: white; }

p {
  font-family: "Open Sans", serif;
  line-height: 1.5em; }

h3 {
  font-family: "Poiret One", "Futura LT Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  padding-left: 2.8rem;
  font-size: 2em; }

.text-om {
  padding: 0 5em 1em 3em; }

a {
  color: white;
  text-decoration: none; }

a:hover, a:focus {
  color: grey; }

a:active {
  color: #9d1521; }

footer {
  background-color: #4b4d65;
  width: 100%;
  height: auto; }

footer p {
  color: white;
  font-family: "Poiret One", "Futura LT Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin: 0; }

/*
----------------------
   portfolio.html
----------------------
*/
.galleri {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 110px; }

.galleri-bild {
  float: left;
  padding: 1em; }

.galleri:after {
  content: '';
  display: block;
  clear: both; }

.p-list {
  font-size: 0.8em;
  padding: 0;
  margin: 0 auto;
  <!--width: 60px;-->
}

.portfo-bild {
  margin: auto;
  border: 2px solid grey;
  padding: 3px;
  width: 300px; }

/*
----------------------
    kontakt.html
----------------------
*/
.ikoner-alla {
  width: 100px;
  margin: 0 auto;
}

.ikon {
  margin: 1em auto;
  width: 90px; }

/*
===========================
 :: MEDIA QUERIES ::
===========================
: breakpoint vid main :
----------------------
*/
@media only screen and (min-width: 570px) and (max-width: 850px) {
  .content {
    max-width: 100%; }

  main {
    width: auto;
    height: auto;
    margin: auto;
    padding-bottom: 6em; }

  p {
    margin: auto; }

  .fejs {
    margin-left: 3em;
    width: 180px;
    border-radius: 50%; } }
/*
---------------------
  :  mobilsize-ish :
---------------------
*/
@media only screen and (min-width: 1px) and (max-width: 569px) {
  .content {
    max-width: 100%; }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%; }

  nav ul li {
    display: block;
    background-color: #4b4d65;
    border: 2px solid #3e4053;
    padding-right: 0; }

  .red-arrow:before {
    display: none; }

  main {
    width: auto;
    height: auto;
    margin: auto;
    padding-bottom: 15em; }

  .fejs {
    margin-left: 3em;
    width: 180px;
    border-radius: 50%; }

  h1 {
    font-size: 2rem; }

  p {
    margin: auto; }

  /*
----------------------
   portfolio.html
----------------------
*/
  .galleri {
    padding: 1em; }

  .portfo-bild {
    padding: 3px;
    border: 2px solid grey;
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
